.error {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 25, 25, 0.9);
  z-index: 9999;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.error.active {
  display: flex;
}

.error__title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}