.preloader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  align-items: center;
  justify-content: center;
}

.preloader.active {
  display: flex;
}

.preloader-chasing-squares {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.preloader-chasing-squares .square {
  position: absolute;
  width: 16px;
  height: 16px;
  background: #fff;
  animation: preloader-chasing-squares 1.2s linear infinite;
}

.preloader-chasing-squares .square:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}

.preloader-chasing-squares .square:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}

.preloader-chasing-squares .square:nth-child(3) {
  top: 32px;
  left: 8px;
  animation-delay: -0.8s;
}

.preloader-chasing-squares .square:nth-child(4) {
  top: 32px;
  left: 32px;
  animation-delay: -1.2s;
}

@keyframes preloader-chasing-squares {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}